<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Asap:400,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <title>HentaiList</title>
</head>
<body>
    <p class="title">Title: <%= hentai.title %></p>
    <p class="plot">Plot: <%= hentai.plot %></p>
    <p class="episodes">Episodes: <%= hentai.episodes %></p><p class="rating">Rating: <%= hentai.rating %></p>
</body>
</html>