body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 700;
}

.title {
    font-size: 2rem;
    margin-bottom: -0.7rem;
}

.plot {
    font-size: 1.4rem;
    margin-bottom: -0.7rem;
    max-width: 50%;
}

.smol {
    font-size: 1rem;
    margin-bottom: -0.7rem;
}